---

import MainLayout from '../../layouts/MainLayout.astro';
import EventStreamers from '../../components/EventStreamers.astro';
import EventMedia from '../../components/EventMedia.astro';
import PastEventsNav from '../../components/PastEventsNav.astro';

export async function getStaticPaths() {
  const eventsResponse = await fetch(`${import.meta.env.NODE_API}/events`)
    .then((res) => res.json());
  const events = eventsResponse.events;
  // Exclude most recent event
  return events
    .filter((event) => {
      // Only return events that have ended
      return new Date() > new Date(event.event_end);
    })
    .map((event) => {
      return {
        params: {
          eventId: event.id,
        },
        props: {
          title: event.title,
        }
      };
    });
}

const { eventId } = Astro.params;
const { title } = Astro.props;

---

<MainLayout currentPage="past">
  <PastEventsNav eventId={eventId} slot="nav" />
  <section class="a double">
    <h2>{title}</h2>
    <EventStreamers eventId={eventId} />
  </section>
  <EventMedia eventId={eventId} />
</MainLayout>

<style>
</style>
