---

import CurrentStreamer from '../components/CurrentStreamer.astro';
import MainLayout from '../layouts/MainLayout.astro';
import EventCountdown from '../components/EventCountdown.astro';
import Schedule from '../components/Schedule.astro';
import { parseEvent } from '../js/shared.js';

const response = await fetch(`${import.meta.env.NODE_API}/event/current`)
  .then((response) => response.json());
const currentEvent = response.currentEvent;

const eventObject = parseEvent(currentEvent);

const streamersRes = await fetch(`${import.meta.env.NODE_API}/event/current/schedule`);
const schedule = await streamersRes.json();
const streamers = schedule.map((s) => s.username);
const deduped = streamers.filter((u, i) => streamers.indexOf(u) === i);

---
<MainLayout currentPage="home">
  <EventCountdown currentEvent={eventObject} nStreamers={deduped.length} />
  <CurrentStreamer currentEvent={eventObject} />
  <section class="double c">
    <Schedule />
  </section>
</MainLayout>
