---

const { startDate, spanId } = Astro.props;

---

<span
  data-start={startDate}
  id={spanId}
  class="counter"
>
  {startDate}
</span>

<script>
  import { DateTime, Interval } from 'luxon';

  function getTimeLeft(startDate) {
    let timeLeft = Interval.fromDateTimes(DateTime.now(), startDate)
      .toDuration(['days', 'hours', 'minutes', 'seconds', 'milliseconds']).toObject();
    return `${timeLeft.days} days, ${timeLeft.hours} hours, ${timeLeft.minutes} minutes, and ${timeLeft.seconds} seconds`;
  }

  function showCounters() {
    const counters = document.getElementsByClassName('counter');
    if (!counters.length) return;
    for (const counter of counters) {
      const startDate = DateTime.fromISO(counter.dataset.start);
      counter.innerHTML = getTimeLeft(startDate);
    }
  }

  if (!window.setupCounter) {
    window.setupCounter = true;
    window.addEventListener('load', () => {
      const counters = document.getElementsByClassName('counter');
      if (!counters.length) return;
      showCounters();
      window.setInterval(() => {
        showCounters();
      }, 1000);
    });
  }
</script>
