---

const { eventId } = Astro.props;

const response = await fetch(`${import.meta.env.NODE_API}/event/${eventId}/media`)
  .then((response) => response.json());
const eventMedia = response.media;

---

{eventMedia && eventMedia.map((media) => (
  <div>
    <h3>{media.title}</h3>
    {media.description && <p>{media.description}</p>}
    <div>
      <div style="position:relative; padding-top: 56.25%;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                src={media.media_url}
                title={media.title} frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
))}

