---
import Countdown from './Countdown.astro';
import { DateTime } from 'luxon';

const { currentEvent, nStreamers } = Astro.props;

const start = DateTime.fromISO(currentEvent.eventStart).toMillis();
const end = DateTime.fromISO(currentEvent.eventEnd).toMillis();
const hours = (end - start) / 1000 / 60 / 60;
---

<Countdown start={currentEvent.signupsStart} end={currentEvent.eventStart}>
  <p slot="before-countdown">
    The {currentEvent.eventTitle} NetHackathon will start in:
  </p>
  <p slot="after-countdown">
    On <strong>{currentEvent.eventDates}</strong>, {nStreamers} Twitch content creators will stream NetHack continuously for {hours} hours!
  </p>
</Countdown>
