---
import MainLayout from '../../layouts/MainLayout.astro';
const response = await fetch(`${import.meta.env.NODE_API}/event/current`);
const { currentEvent } = await response.json();
---
<MainLayout currentPage="charity">
  <section class="a double">
    <h2>NetHackathon and Charity</h2>
    <p>The primary purpose of NetHackathon is to get together with other NetHack enthusiasts and share our love of
    this game.</p>
    <p>That said, why not spread awareness and raise money for worthy charities while we're at it?</p>
  </section>
  <section class="c double">
    <h2>{currentEvent.charity_name}</h2>
    <Fragment set:html={currentEvent.charity_description} />
  </section>
  <section class="b double">
    <h2>Give!</h2>
    <p>For more information about {currentEvent.charity_name} and to donate, go to <a href={currentEvent.giving_url}>{currentEvent.giving_url}</a>.</p>
    <p>Thank you for your support!</p>
  </section>
</MainLayout>
